body{
	background-color: #dddddd;
}
#content{
}
#header{
	width: 100%
	float: left;
	height: 200px;
	background color: blue;
	background-position: center;
	background-size:cover;
}
#menu{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #333333;
	text-align: center;
}
#main-content{
	width: 100%;
	min-height: auto;
}
#side-menu{
	width: 192px;
	height: 540px;
	overflow: auto;
	float: left;
	padding-left: 30px;
	padding-top: 100px;
	font-size: 16px;
	background-color: skyblue;
	}
#footer{
	width: 1500px;
	height: 40px;
	float: left;
	background-color: #333333;
}
.nav{
	color: white;
	text-align: center;
}

.berita{

	width: 1200px;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: white;
	padding-left: 80px;
	padding-top: 50px;
	padding-bottom: 165px;
}
.teks{
	width: 500px;
	height: auto;
	font-size: 20px;
}
.line{
	height: 1px;
	width: 100px;
	background-color: gray;
}